name: 'HTML (Liquid)'
scopeName: 'text.html.liquid'
type: 'modern-tree-sitter'
parser: 'tree-sitter-liquid'

# GitHub interprets `liquid` on a fenced code block as HTML with Liquid. We'll
# use `liquid-html` internally for injections, but we should also support
# `liquid` for Markdown-authoring scenarios and such.
injectionRegex: '^liquid-html$|^liquid$'

treeSitter:
  parserSource: 'github:savetheclocktower/tree-sitter-liquid#ba78f13e67cebb89e5e061283cb2164446763bec'
  grammar: 'tree-sitter-liquid/tree-sitter-liquid.wasm'
  highlightsQuery: 'tree-sitter-liquid/highlights.scm'
  foldsQuery: 'tree-sitter-liquid/folds.scm'
  indentsQuery: 'tree-sitter-liquid/indents.scm'

fileTypes: [
  'liquid'
]

comments:
  start: '{% comment %}'
  end: '{% endcomment %}'
